@import '../../index';

@media(min-width: 320px) {
  .main-single-data-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    margin: auto;
    width: 100vw;
  
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
      text-align: center;
    }

    .single-data-cont {
      background: $primary-card;
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: solid 1px $primary-btn;
      border-radius: 10px;
      text-align: center;

      h2:first-child {
        margin: .7em 0;
        font-style: italic; 
      }

      .email-link {
        text-decoration: none;
        color: black;
        margin: 1em 0;
        border: .75px solid $primary-btn;
        padding: 3%;
        border-radius: 10px;
      }

      .chart-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 1px solid $primary-header;

        h2 {
          margin: .7em 0;
          font-size: 18px;
        }

        p {
          text-align: center;
          font-size: 14px;
          margin: 1em 0;
        }


        .age-btn-cont {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          button {
            width: 6em;
            background: none;
            border: .75px solid $primary-btn;
            font-size: 14px;
            color: black;
            padding: 3%;
            border-radius: 10px;
            text-decoration: none;
            margin: 1em 0;
          }
        }
      }

      .eth-cont {
        display: flex;
        flex-direction: column;
        width: 100%;

        h2 {
          margin: .7em 0;
          font-size: 18px;
        }

        .age-btn-cont {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          button {
            width: 5.5em;
            background: none;
            border: .75px solid $primary-btn;
            font-size: 12px;
            color: black;
            padding: 3%;
            border-radius: 10px;
            text-decoration: none;
            margin: 1.25em 0;
          }
        }   
      }
    }
  }
}