@import '../../index';


@media(min-width: 1000px) {
  .nav-cont {
    @include display-flex-center;
    height: 12vh;
    background: $primary-header;
    color: $primary-card;
    justify-content: space-between;

    .title-treatment {
      color: $primary-card;
      justify-content: center;
      text-decoration: none;
      font-size: 60px;
      font-family: 'Londrina Shadow', cursive;
      text-align: center;
      // position: absolute;
    }

    .login-link {
      color: $primary-card;
      text-decoration: none;
      font-size: 18px;
      margin-left: 3em;
    }

    .nav-icon {
      display: block;
      height: 25px;
      margin-left: 5px;
    }
  }
}

@media(min-width: 320px) and (max-width: 500px) {
  .nav-cont {
    @include display-flex-center;
    height: 50px;
    background: $primary-header;
    color: $primary-card;
    justify-content: space-between;
    width: 100%;

    .inner-nav-cont {
      @include display-flex-center;
      width: 94%;
      justify-content: space-between;
      margin: auto;

      .title-treatment {
        color: $primary-card;
        justify-content: center;
        text-decoration: none;
        font-size: 34px;
        font-family: 'Londrina Shadow', cursive;
        text-align: center;
        width: 35%;
      }

      .login-link {
        color: $primary-card;
        text-decoration: none;
        font-size: 18px;
        width: 10%;
      }

      .nav-icon {
        display: block;
        height: 25px;
      }

      p {
        width: 10%;
      }
    }
  }
}




