@import '../../index';
@import './hamburgers-settings.scss';
@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

@media (min-width: 800px) {
  .nav-cont {
    @include display-flex-center;
    height: 12vh;
    background: $primary-btn;
    color: $primary-card;
    justify-content: space-between;

    .inner-nav-cont {
      @include display-flex-center;
      width: 96%;
      justify-content: space-between;
      margin: auto;

      .title-treatment {
        color: $primary-card;
        justify-content: center;
        text-decoration: none;
        font-size: 60px;
        font-family: 'Londrina Shadow', cursive;
        text-align: center;
      }

      .login-link {
        color: $primary-card;
        text-decoration: none;
        font-size: 26px;
        // margin-left: 3em;
        width: 80px;
      }

      p {
        width: 80px;
      }

      button {
        width: 80px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .nav-cont {
    @include display-flex-center;
    height: 70px;
    background: $primary-btn;
    color: $primary-card;
    justify-content: space-between;
    width: 100%;

    .inner-nav-cont {
      @include display-flex-center;
      width: 94%;
      justify-content: space-between;
      margin: auto;

      .title-treatment {
        color: $primary-card;
        justify-content: center;
        text-decoration: none;
        font-size: 44px;
        font-family: 'Londrina Shadow', cursive;
        text-align: center;
        // width: 35%;
      }

      .login-link {
        color: $primary-card;
        text-decoration: none;
        font-size: 18px;
        width: 40px;
      }

      p {
        width: 40px;
        font-size: 12px;
      }
    }
  }
}
