@import '../../index';

@media(min-width: 800px) {
  .ind-aComm-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: .5em 0;
    text-align: start;

    p {
     width: 90%;
     text-align: start;
    }

    #expand-arr {
      background: $primary-card;
      border: none;
      font-size: 24px;
      text-align: center;
      color: $primary-btn;
      padding: 2%;
      text-decoration: none;
      width: 10%;
    }

    .aComm-text-cont{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }
  }

  .edit-ind-aComm-cont {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: .5em 0;

    .aComm-text {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .aComm-inputs-cont {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .name-outlet-cont {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 33%;
          margin-bottom: .5em;

          input {
            width: 28%;
            height: 2em;
            border-radius: 5px;
            border: solid 1px $primary-border; 
            -webkit-transition: .3s;
            transition: .3s;
            outline: none;
            background: white;
            text-align: start;
            padding-left: .5em;
            // margin-right: .5em;
            font-family: 'Didact Gothic', sans-serif;
            font-size: 16px;
          }

          input:focus {
            border: 2px solid $primary-btn;
          }

          select {
            width: 50%;
            height: 2.25em;
            border-radius: 5px;
            border: solid 1px $primary-border; 
            -webkit-transition: .3s;
            transition: .3s;
            outline: none;
            background: white;
            text-align: center;
            font-family: 'Didact Gothic', sans-serif;
            font-size: 16px;
          }

          select:focus {
            border: 2px solid $primary-btn;
          }
        }

        textarea {
          width: 97.7%;
          border-radius: 5px;
          border: solid 1px $primary-border; 
          -webkit-transition: .3s;
          transition: .3s;
          outline: none;
          background: white;
          font-family: 'Didact Gothic', sans-serif;
          font-size: 16px;
          padding-left: .5em;
        }

        textarea:focus {
          border: 2px solid $primary-btn;
        }
      }

      button {
        background: $primary-card;
        border: none;
        font-size: 24px;
        text-align: center;
        color: $primary-btn;
        padding: 2%;
        text-decoration: none;
        width: 10%;
      }
    }

    .aComm-btn-cont {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      margin: .5em auto;

      button:hover {
        cursor: pointer;
        transition: .2s;
        background: $primary-btn;
        color: $primary-card;
      }

      button {
        background: none;
        border: .75px solid $primary-btn;
        font-size: 16px;
        font-family: 'Didact Gothic', sans-serif;
        color: $primary-btn;
        padding: 1% 2%;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        width: 9.5em;
      }
    }
  }
}

@media(min-width: 320px) and(max-width: 800px) {
  .ind-aComm-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: .5em 0;
    text-align: start;

    p {
      margin-left: .3em;
    }

    #expand-arr {
      background: $primary-card;
      border: none;
      font-size: 16px;
      color: black;
      padding: 2%;
      text-decoration: none;
      width: 15%;
    }

    .aComm-text-cont{
      height: 100%;
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;

    }
  }

  .edit-ind-aComm-cont {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: .5em 0;

    .aComm-text {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;

      .aComm-inputs-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .name-outlet-cont {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;

          input {
            width: 3em;
            height: 1.9em;
            border-radius: 5px;
            border: solid 1px $primary-border; 
            -webkit-transition: .3s;
            transition: .3s;
            outline: none;
            background: white;
            text-align: center;
            margin-right: .5em;
          }

          input:focus {
            border: 2px solid $primary-btn;
          }

          select {
            width: 6em;
            height: 2.2em;
            border-radius: 5px;
            border: solid 1px $primary-border; 
            -webkit-transition: .3s;
            transition: .3s;
            outline: none;
            background: white;
            text-align: center;
          }

          select:focus {
            border: 2px solid $primary-btn;
          }
        }

        textarea {
          width: 15.8em;
          border-radius: 5px;
          border: solid 1px $primary-border; 
          -webkit-transition: .3s;
          transition: .3s;
          outline: none;
          background: white;
          font-family: 'Didact Gothic', sans-serif;
          margin: .3em 0 .3em 0;;
        }

        textarea:focus {
          border: 2px solid $primary-btn;
        }
      }

      button {
        background: $primary-card;
        border: none;
        font-size: 16px;
        text-align: center;
        color: black;
        padding: 2%;
        text-decoration: none;
        width: 3.5em;
        margin-top: .5em;
      }
    }

    .aComm-btn-cont {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      button {
        background: $primary-btn;
        border: none;
        font-size: 14px;
        color: white;
        padding: 2%;
        border-radius: 7.5px;
        text-decoration: none;
        width: 8.5em;
      }
    }
  }
}