@import '../../index';

@media(min-width: 320px) {
  .movie-cont {
    background: $primary-card;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 5px auto;
    border: solid 1px $primary-btn;
    border-radius: 10px;
    font-size: 16px;
    @include box-shadow;


    .inner-movie-cont {
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      margin: .5em auto;

      img {
        margin: .5em auto;
        border: 1px solid $primary-btn;
      }

      p {
        margin: .2em 0;
      }

      .btn-cont {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .info-btn {
          border: none;
          font-size: 16px;
          color: black;
          text-decoration: none;
          padding: 2%;
          text-align: center;
        }
      }
    }
  }

  .admin-movie-cont {
    background: $primary-card;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 5px auto;
    border: solid 1px $primary-btn;
    border-radius: 10px;
    font-size: 14px;
    @include box-shadow;


    .admin-inner-mov-cont {
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      margin: .5em auto;

      p {
        margin: .2em 0;
      }

    
      .btn-cont {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .info-btn {
          border: none;
          font-size: 16px;
          color: black;
          text-decoration: none;
          padding: 2%;
          text-align: center;
        }
      }
    }
  }
}