body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$primary-background: #89B6A5;
$primary-card: #C9EDDC;
$primary-btn: #4C3B4D;
$primary-header: #6A706E;
$primary-border: #89B6A5;
@mixin box-shadow {
  -webkit-box-shadow: 10px 12px 27px -5px rgba(76,59,77,1);
  -moz-box-shadow: 10px 12px 27px -5px rgba(76,59,77,1);
  box-shadow: 10px 12px 27px -5px rgba(76,59,77,1);}
