@import '../../index';

@media(min-width: 320px) {
  .new-report-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin: auto;
    width: 100vw;

    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
      text-align: center;
    }

    .new-report-inner-cont {
      background: $primary-card;
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin: auto;
      border: solid 1px $primary-btn;
      border-radius: 10px;
      text-align: center;
      font-size: 16px;

      .screening-row-cont {
        height: 60px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-left: 10px;

        select {
          width: 15em;
          height: 2.5em;
          border-radius: 5px;
          border: solid 1px $primary-border; 
          -webkit-transition: .3s;
          transition: .3s;
          outline: none;
          background: white;
        }

        select:focus {
          border: 2px solid $primary-btn;
        }

        .seat-input {
          width: 18%;
          height: 1.8em;
          border-radius: 5px;
          border: solid 1px $primary-border; 
          -webkit-transition: .3s;
          transition: .3s;
          outline: none;
          padding-left: 7px;
        }

        .seat-input:focus {
          border: 2px solid $primary-btn;
        }

        .date-cont {
          border-radius: 5px;
          height: 2em;
          width: 14.6em;
          border: solid 1px $primary-border; 
          -webkit-transition: .3s;
          transition: .3s;
          outline: none;
          padding-left: .3em;
        }

        .date-cont:focus {
          border: 2px solid $primary-btn;
        }
      }

      .submit-btn {
        background: $primary-btn;
        border: none;
        font-size: 14px;
        color: white;
        padding: 3%;
        border-radius: 10px;
        text-decoration: none;
        margin: 0 auto;
      }
    }
  }
}