@import '../../index.scss';


@media(min-width: 600px) {
  .report-list-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;

    h1 {
      font-size: 32px;
      font-weight: bold;
      margin: 1em 0 ;
      text-align: center;
    }
  }
  .main-report-cont {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media(min-width: 320px) and (max-width: 600px) {
  .report-list-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0 ;
    }
  }
  .main-report-cont {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

